@model Nhom8_ShopMotoBikes.Models.DanhMuc

@{

    ViewBag.Title = "Thêm danh mục sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="chitiet">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <b>Tên danh mục:</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        @Html.EditorFor(model => model.TenDM, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TenDM, "", new { @class = "text-danger" })<br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <b>Mô tả danh mục: </b>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        @Html.EditorFor(model => model.MoTa, new { htmlAttributes = new { @class = "form-control", @cols = 35, @rows = 5 } })
                        @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-success">
                            Thêm
                        </button> &nbsp; | &nbsp;

                        @Html.ActionLink("Hủy", "Index")

                    </div>
                    <br />

                </div>
                <div class="row mt-5">
                    @if (ViewBag.ErrorCreateDanhMuc != null)
                    {
                        <br />
                        <div class="alert alert-danger" role="alert">@ViewBag.ErrorCreateDanhMuc</div>
                    }
                </div>
            </div>
        </div>
}

