@model Nhom8_ShopMotoBikes.Models.DanhMuc

@{

    ViewBag.Title = "Bạn chắc chắn muốn xóa danh mục " + Model.TenDM + " ?";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}



<div class="chitiet2">
    <div class="container">
        <div class="row ">
            <div class="col-4 text-center">
                <b> Mã danh mục:</b>
            </div>
            <div class="col-8 text-left">
                @Html.DisplayFor(model => model.MaDM)
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-4 text-center">
                <b>Tên danh mục: </b>
            </div>
            <div class="col-8 text-left">
                @Html.DisplayFor(model => model.TenDM)
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-4 text-center">
                <b>Mô tả danh mục:</b>
            </div>
            <div class="col-8 text-left">
                @Html.DisplayFor(model => model.MoTa)
            </div>
        </div>
        <div class="row mt-5">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="col-md-offset-2 col-md-12 text-center">
                    <button type="submit" class="btn btn-danger">
                        Xóa
                    </button> &nbsp; | &nbsp;

                    @Html.ActionLink("Hủy", "Index")
                </div>
                <br />
            }
        </div>
        <div class="row ">
            @if (ViewBag.ErrorDeleteDanhMuc != null)
            {
                <br />
                <div class="alert alert-danger" role="alert">@ViewBag.ErrorDeleteDanhMuc</div>
            }
        </div>



        </div>
       
    </div>






