
@{
    ViewBag.Title = "Thống kê";
    ViewBag.Link = "";
    ViewBag.Name = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content">
    <div class="row mt-2">
        <div class="col-lg-6 total-revenue">
            <div class="card-body mb-5">
                <h5 class="card-title">Doanh thu</h5>
                <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-currency-dollar"></i>
                    </div>
                    <div class="ps-3">
                        <h6><b>@string.Format("{0:#,##}", @ViewBag.DoanhThu) VND</b></h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 total-products">
            <div class="card-body mb-5">
                <h5 class="card-title">Sản phẩm</h5>
                <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-box-seam"></i>
                    </div>
                    <div class="ps-3">
                        <h6><b>@ViewBag.SanPhamTrongDB </b></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-lg-6 total-products-sold">
            <div class="card-body mb-5">
                <h5 class="card-title">Đơn hàng đang giao</h5>
                <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-cart"></i>
                    </div>
                    <div class="ps-3">
                        <h6><b>@ViewBag.DonHangDangGiao</b></h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 total-accounts">
            <div class="card-body mb-5">
                <h5 class="card-title">Tài khoản</h5>
                <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-person-circle"></i>
                    </div>
                    <div class="ps-3">
                        <h6><b>@ViewBag.SoTaiKhoan</b></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>