<!-- ======= Footer ======= -->
<div class="grocino-footer2" style="background-image: url(/wwwroot/img/slide/footer_bg.jpg); background-repeat: no-repeat; background-size: contain; background-position: center;">
    <div id="grocino-footer" class="footer-container">
        <div class="grocino-footer-row">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 mr-auto">
                        <div class="grocino-second-row-item">
                            <a href="index.html">
                                <img src="~/wwwroot/img/slide/logo2.jpg" alt="HoangCau" title="HoangCau" class="img-fluid logo" />
                            </a>
                            <p>
                                HỆ THỐNG XE MÁY HOÀNG CẦU chuyên cung cấp các dòng xe Honda, Yamaha, SYM, Suzuki, xe
                                nhập khẩu,.... chính hãng, cam kết mang đến những sản phẩm, phụ tùng chất lượng nhất đến
                                tay người tiêu dùng.
                            </p>
                        </div>
                    </div>

                    <div>
                        <div class="footer_showroom">
                            <h4>HỆ THỐNG SHOWROOM</h4>
                            <ul>
                                <li>
                                    <a href="@Url.Action("Index","Home")">
                                        <strong>YAMAHA TOWN HOÀNG CẦU - 08 </strong><br>
                                        ☎:0274 6568 777 📞: 0989 882 545<br>
                                        ĐC: Số 189, Đường Nguyễn Trãi, P. Dĩ An, Thị Xã Dĩ An, Tỉnh Bình Dương.
                                    </a></a>
                                </li>
                                <br>
                                <li>
                                    <a href="@Url.Action("Index","Home")">
                                        <strong>HOÀNG CẦU CHI NHÁNH 2 </strong><br>
                                        ☎:02854 432 212 📞: 0984 741 875 <br>
                                        ĐC: Số 7-9, QL 1K, P. Linh Xuân, Thủ Đức, Tp. HCM.
                                    </a></a>
                                </li>
                                <br>
                                <li>
                                    <a href="@Url.Action("Index","Home")">
                                        <strong>HOÀNG CẦU CHI NHÁNH 3</strong><br>
                                        ☎:02854 034 142 📞: 0989 882 545<br>
                                        ĐC: 123/2A Ngô Chí Quốc, KP.2, P.Bình Chiểu, Q.Thủ Đức, TP.HCM.
                                    </a></a>
                                </li>
                                <br>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="grocino-second-row-item">
                            <h4>LIÊN KẾT NHANH</h4>
                            <ul>
                                @if (Session["user"] == null)
                                {
                                    <li>@Html.ActionLink("Trang chủ", "Index", "Home")</li>
                                    <li>@Html.ActionLink("Đăng nhập", "Login", "TaiKhoans")</li>
                                    <li>@Html.ActionLink("Đăng ký", "Register", "TaiKhoans")</li>
                                }
                                else
                                {
                                    
                                    <li>@Html.ActionLink("Sửa tài khoản", "SuaTaiKhoan", "TaiKhoans")</li>
                                    <li>@Html.ActionLink("Đổi mật khẩu", "SuaMatKhau", "TaiKhoans")</li>
                                    <li>@Html.ActionLink("Đăng xuất", "Logout", "TaiKhoans")</li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div>
        <div class="copyright">
            Copyright  <i class="far fa-copyright"></i> 2021 Nhóm 8 - Lập trình ASP.NET
        </div>
    </div>
</div>
<!-- End Footer -->