<div class="pagetitle">
    <h1 style="text-align: center;"> @ViewBag.Title</h1>
    @*<nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">
                    <a href="@Url.Action("Index","Home")">
                        <b><i class="bi bi-house"></i></b>&nbsp;
                    </a>
                </li>
                <li class="breadcrumb-item active">

                        @if (@ViewBag.Link != "Thông tin đăng nhập")
                        {
                            <a href="@Url.Action( "Index" , ViewBag.Name )">
                                @ViewBag.Link
                            </a>
                        }
                        else
                        {
                            <a href="#">
                                @ViewBag.Link
                            </a>
                        }

                </li>
            </ol>
        </nav>*@
</div>