@model IEnumerable<Nhom8_ShopMotoBikes.Models.TaiKhoan>

@{
    ViewBag.Title = " Danh sách tài khoản";
    ViewBag.Link = "Quản lý tài khoản";
    ViewBag.Name = "Taikhoan";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@section CSSPartial{
    <link href="~/Areas/Admin/Assets/css/table.css" rel="stylesheet">
}
<br />
<div class="row">
    <div class="col-lg-12">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr class="text-center">
                    <th>Mã</th>
                    <th> Họ và tên</th>
                    <th>Tên đăng nhập</th>
                    <th>Số điện thoại </th>
                    <th>Trạng thái</th>
                    <th>Quyền</th>

                    <th colspan="2">Hành động</th>
                </tr>
            </thead>
            <tbody>
                @for(int i = 0; i < Model.ToList().Count; i++)
                {
                <tr class="text-center">
                    <th> @Html.DisplayFor(modelItem => Model.ToList()[i].MaTK)</th>
                    <td> @Html.DisplayFor(modelItem => Model.ToList()[i].HoTen)</td>
                    <td>@Html.DisplayFor(modelItem => Model.ToList()[i].TenDN)</td>
                    <td>@Html.DisplayFor(modelItem => Model.ToList()[i].SoDienThoai)</td>

                   
                    <td>
                        @{ if (Model.ToList()[i].TrangThai == true)
                            {

                                <input onclick="Change(@Model.ToList()[i].MaTK)" type="checkbox" checked  />

                            }
                            else
                            {
                                <input onclick="Change(@Model.ToList()[i].MaTK)" type="checkbox" />
                            }
                        }



                        </td>
                        <td>
                            @{
                                string quyen = "";
                                if (Model.ToList()[i].Quyen == true) { quyen = "Quản trị"; }
                                else { quyen = "Khách hàng"; }

                            }

                            @quyen


                        </td>

                        <td title="Sửa tài khoản" class="edit"><a href="@Url.Action("Edit","Taikhoan",new {id = Model.ToList()[i].MaTK})"><i class="bi bi-pencil-fill"></i></a></td>
                        <td title="Xóa tài khoản" class="remove"><a href="@Url.Action("Delete","Taikhoan",new {id = Model.ToList()[i].MaTK})"><i class="bi bi-trash-fill"></i></a></td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<script>
    const Change = async (id) => {

        const url = `/Admin/TaiKhoan/ThayDoiTrangThai?id=${id}`;
        const formData = new FormData();

        const response = await fetch(url, {
            method: 'POST',
            body: formData
        });
    }
</script>








